<form style="margin: auto; width: 50%;" class="form-horizontal" [formGroup]="admissionstaff">
  <h2>Create Staff</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstname" aria-describedby="FirstNameHelp"
      placeholder="Enter First Name">
       <div *ngIf="firstName.errors && firstName.errors.required && (firstName.dirty || firstName.touched) " class="error">
          First Name is required!
        </div> 
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastname" aria-describedby="LastNameHelp"
      placeholder="Enter Last Name">
      <div *ngIf="lastName.errors && lastName.errors.required && (lastName.dirty || lastName.touched)" class="error">
          Last Name is required!
        </div> 
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email">
      <div *ngIf="email.errors && email.errors.required && (email.dirty || email.touched)" class="error">
          Email is required!
        </div> 
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <div *ngIf="password.errors && password.errors.required && (password.dirty || password.touched)" class="error">
        Password is required!
      </div> 
      <div *ngIf="password.errors && password.errors.minlength && (password.dirty || password.touched)" class="error">
          Password Required & min length is 3
        </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="register()">Create Staff</button>
</form>

