<nav class="navbar navbar-default" *ngIf="userIsAuthenticated">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"> STUDENT SYSTEM</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/"><span class="glyphicon glyphicon-home"> </span> Home</a></li>
      <li *ngIf="isAdmin" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"> </span> Admin
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/admin', 'create-staff']">Add Staff</a></li>
          <li><a [routerLink]="['/admin', 'staffs']">View Staff</a></li>
          <li><a [routerLink]="['/admin', 'create-question']">Add Question</a></li>
          <li><a [routerLink]="['/admin', 'question']">View Questions</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin"><a [routerLink]="['/admin', 'exams']"> <span class="glyphicon glyphicon-list-alt"> </span>  Review Exams</a></li>

      <li *ngIf="isStaff" class="dropdown">
        <a [routerLink]="['/staff', 'invite']"> <span class="glyphicon glyphicon-send"> </span> Send Invitation
        </a>
      </li>
      <li *ngIf="isStaff" class="dropdown">
        <a [routerLink]="['/staff', 'invitations']"> <span class="glyphicon glyphicon-list"> </span> Inviations
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="userIsAuthenticated"> <a routerLink="/logout" (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span>
          Logout</a></li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer footer-botton" *ngIf="userIsAuthenticated">
  <p>&copy; 2019 Binh, Pheakdey & Petros</p>
</footer>
